.dashboard {
  width: 60%;
  margin: 0 auto;
  height: 100vh;
  padding: 50px;
}

.inputcontainer {
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  display: flex;
}

.inputsearchbox {
  width: 75%;
  display: flex;
  align-items: center;
}

.searchbox {
  height: 25px;
  width: 90%;
}

.searchbutton {
  height: 25px;
  width: 25px;
  background-color: #ff9770;
  border-radius: 2px;
  padding: 2px;
}

#reset {
  height: 25px;
  padding: 5px 10px;
  text-align: center;
  background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
  color: #fff;
  border: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 5vw;
}

.posts-container {
  border-radius: 2px;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
}

.inside-post-container {
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.authorwithPic {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 30%;
}
