.post-container {
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  width: 70%;
  min-height: 400px;
  margin: 0 auto;
}

.post-header {
  display: flex;
  justify-content: space-between;
}
